body {
	background-color: #505050;
}
.head-content {
	width: 1420px;
	height: 137px;
	margin: 0 auto;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	position: relative;
}
.day-42 {
	padding-top: 10px;
	padding-left: 10px;
	height: 110px;
	border-radius: 10px;
}
.right_icon {
	float: right;
	width: 30px;
}
.reload {
	margin: 10px 10px 0 0;
	width: 20px;
}
.close {
	margin: 73px 0 0;
	width: 20px;
}
.loupe {
	float: right;
	padding-top: 10px;
	height: 147px;
}
.container {
	width: 1420px;
	height: 575px;
	margin: 0 auto;
}
.side_block {
	display:inline-block;
	background-color: #909090;
	height: 425px;
	width: 140px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	margin: 0px 30px; 
}
.main_block {
	display:inline-block;
	margin: 0px auto;
	background-color: #909090;
	height: 582px;
	width: 1020px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}
.green_box {
	background-color: #88ff89;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	width: 500px;
	height: 150px;
	position: relative;
	bottom: 80px;
	left: -45px;
	padding: 10px;
}
.left_img {
	margin: 6px 32px;
}
.left_img img {
	width: 70px;
}
.right_img {
	margin: 0 35px;
}
.right_img img {
	width: 70px;
}
.wall {
	margin: 1px 10px;
	width: 120px;
	height: 70px;
	background-image:url(resources/brick.jpg);
}
.oeil {
	border: solid 5px red;
	border-radius: 5px;
	margin: -5px -5px;
}
.cluster {
	padding: 10px;
	width: 1000px;
	height: 562px;
}
