body {
	background-color: #505050;
}
.head-content {
	width: 1100px;
	height: 120px;
	margin: 0 auto;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	position: relative;
}
.day-42 {
	padding-top: 10px;
	height: 100px;
	border-radius: 10px;
}
.right_icon {
	float: right;
	width: 30px;
}
.reload {
	padding: 10px 10px 0 0;
	width: 20px;
}
.close {
	padding: 60px 10px 0 0;
	width: 20px;
}
.loupe {
	float: right;
	padding-top: 20px;
	height: 120px;
}

