body {
	background-color: lightgrey;
}
header {
	margin: 0 auto;
	text-align: center;
	color: black;
}
.atome img{
	width: 18%;
}
h2 {
	font-size: 2vw;
}
table {
	margin: 0 auto;
}
td {
	border: solid 2px black;
	width: 20em;
	text-align: center;
}
.num {
	margin: 0 auto;
	font-size: 1vw;
	text-align: left;
	vertical-align: bottom;
}
.atomic {
	margin: 0 auto;
	font-size: 1vw;
	text-align: right;
	vertical-align: top;
}
.alkali-metal {
	background-color: red;
}
.alkali-earth-metal {
	background-color: orange;
}
.lanthanide {
	background-color: brown;
}
.actinide {
	background-color: purple;
}
.transition-metal {
	background-color: pink;
}
.post-transition-metal {
	background-color: lightgreen;
}
.metalloid {
	background-color: green;
}
.reactive-nonmetal {
	background-color: yellow;
}
.noble-gas {
	background-color: lightblue;
}
.unknow-chemical-prop {
	background-color: grey;
}
.copyright {
	float: right;
	font-family: monospace;
	font-style: italic;
}
